---
// pages/index.astro atau halaman utama Anda
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import Product from '../components/product/product.astro';
---

<Layout>
    <Navbar />
    <main>
        <Product />
    </main>
</Layout>